@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-radius: 10px;
  background: #82f4a2;
}

input {
  font-size: 16px;
}

.loader {
  animation: rotate 500ms infinite linear;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
